<!-- <p>
The door is {{ statusText }}
</p> -->
<div class="container">
    <section>
        <button class="mat-raised-button" color="accent" (click)="toggleDoor()">
            <i class="material-icons" *ngIf="status === 'Closed'">lock</i>
            <i class="material-icons" *ngIf="status === 'Open'">lock_open</i>
            <i class="material-icons" *ngIf="status === 'Unknown'">texture</i>
            <i class="material-icons" *ngIf="status === 'Moving'">remove_circle</i>
        </button>
        <!-- <h2>{{statusText}}</h2> -->
    </section>
    <section class="status">
        <p>Status: {{status}}</p>
        <!-- <p>Moving:</p>
        <p>Last Change: </p> -->
    </section>
</div>