i{
    font-size: 256px;
}

h2{
    text-align: center;
}


.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section{
    padding: 10px;
    flex-grow: 1
}
.status{
    text-align: center;
}