<div>
  <h2 mat-header>Users</h2>
  <mat-list>
      <mat-card class="userCardList" *ngFor="let user of users$ | async">
          <mat-card-header>
            <img mat-card-avatar src="{{user.photoURL}}"/>
            <mat-card-title>{{user.displayName}}</mat-card-title>
            <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
              <mat-chip-list>
                <mat-chip color="primary" selected *ngIf="user.roles.trusted && user.roles.trusted === true">Trusted</mat-chip>
                <mat-chip color="accent" selected *ngIf="user.roles.admin && user.roles.admin === true">Admin</mat-chip>
              </mat-chip-list>
          </mat-card-content>
          <mat-card-actions>
            <button selected *ngIf="user.roles.trusted === false" mat-button (click)="setUserTrust(user, true)">Trust</button>
            <button selected *ngIf="user.roles.trusted === true" mat-button (click)="setUserTrust(user, false)">Untrust</button>
          </mat-card-actions>
      </mat-card>

      <!-- <mat-list-item *ngFor="let user of users$ | async">
        <img matListAvatar src="{{user.photoURL}}" alt="User Avatar"/>
        <div mat-line>{{user.displayName}}</div>
        <p mat-line>{{user.email}}</p>
        <mat-slide-toggle matLine checked="{{user.roles.trusted}}" (change)="onChange(event)" color="primary">
            Trusted
        </mat-slide-toggle>
        <mat-slide-toggle matLine checked="{{user.roles.admin}}" (change)="onChange(event)" color="primary">
            Admin
        </mat-slide-toggle>
      </mat-list-item> -->
  </mat-list>

</div>