<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <!-- <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
      <span>Tyler's House</span>
      <button mat-button routerLink="/" routerLinkActive="active">Home</button>
      <button mat-button routerLink="/users" routerLinkActive="active" *ngIf="(user$ | async)?.roles?.admin === true " >Users</button>
      <span class="toolbar-spacer"></span>
      <!-- <img src="{{user.photoURL}}"/> -->
      <span>{{ (user$ | async)?.email }}</span>
      <button mat-button (click)="logout()">Logout</button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
