.header{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.row{
  margin-top: 10px;
}

.error{
  color: red;
}

.container{
  display:flex;
  justify-content: center;
  margin:100px;
}
  
.googleButton{
  background-color: #4285F4;
  color: #FFFFFF;
}